<div style="padding:10px;">

    <IgbLegend @ref="_legend"
               Orientation="LegendOrientation.Horizontal">
    </IgbLegend>

    <IgbDataChart Height="320px" Width="320px" Legend="_legend">

        <IgbNumericXAxis Name="xAxis" MinimumValue="0" MaximumValue="6" />

        <IgbNumericYAxis Name="yAxis" MinimumValue="0" MaximumValue="10" />

        <IgbScatterSeries DataSource="@_dataSourceA"
                          Title="マーカー A"
                          XMemberPath="@nameof(SampleDataType.XValue)"
                          YMemberPath="@nameof(SampleDataType.YValue)"
                          XAxisName="xAxis"
                          YAxisName="yAxis"
                          MarkerBrush="yellow"
                          MarkerOutline="black"
                          MarkerThickness="2" />

        <IgbScatterSeries DataSource="@_dataSourceB"
                          Title="マーカー B"
                          XMemberPath="@nameof(SampleDataType.XValue)"
                          YMemberPath="@nameof(SampleDataType.YValue)"
                          XAxisName="xAxis"
                          YAxisName="yAxis"
                          MarkerBrush="red"
                          MarkerOutline="transparent" />

    </IgbDataChart>

</div>

@code {
    private IgbLegend? _legend;

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            StateHasChanged();
        }
    }

    public record SampleDataType(string Name, double XValue, double YValue);

    private IEnumerable<SampleDataType> _dataSourceA =
    [
      new (Name: "item1", XValue: 1, YValue: 8),
      new (Name: "item2", XValue: 2, YValue: 7),
      new (Name: "item3", XValue: 3, YValue: 7.5),
      new (Name: "item4", XValue: 4, YValue: 6),
      new (Name: "item5", XValue: 5, YValue: 9),
    ];

    private IEnumerable<SampleDataType> _dataSourceB =
    [
      new (Name: "item1", XValue: 1, YValue: 2),
      new (Name: "item2", XValue: 2, YValue: 3),
      new (Name: "item3", XValue: 3, YValue: 1),
      new (Name: "item4", XValue: 4, YValue: 3),
      new (Name: "item5", XValue: 5, YValue: 1.5),
    ];
}
